fastapi
fastapi[standard]
uvicorn[standard]
passlib[bcrypt]
bcrypt==4.0.1
psycopg[binary]
pyjwt
python-multipart
redis[asyncio]
grpcio
grpcio-tools
pytest
pytest-asyncio
prometheus-fastapi-instrumentator
